.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeIn-exit {
  opacity: 1;
}

.fadeIn-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
